{% extends 'rango/base.html' %}
{% load static %}


{% block title_block %}
    about
{% endblock %}


{% block body_block %}
    <h1>This is the about page</h1>
  <div>
        <img   width="400px"  src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>

    <div>
        <button class="btn btn-primary" onclick="alert('You clicked the button using JavaScript.');">
            Click me - I am runing javascript
        </button>
         </br>
        <button class="btn btn-primary" id="about-btn">
            Click Me - I'm JavaScript on Speed
        </button>
    </div>
    <p>This text is for a JQuery Example</p>

{% endblock %}





