
<!doctype html>
{% load static %}
{% load rango_template_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>
    Rango - {% block title_block %}How to Tango with Django!{% endblock %}
    </title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <script src="https://cdn.staticfile.org/jquery/3.0.0/jquery.min.js"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>
    <script src="{% static 'js/rango-ajax.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'rango:index' %}">Rango</a>
        <a class="nav-link" href="{% url 'rango:index' %}">Home</a>
        <a class="nav-link" href="{% url 'rango:about' %}">About</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'registration_register' %}">Ristricted Page</a>
            <a class="nav-link" href="{% url 'rango:add_category' %}">Add a New Category</a>
             <a class="nav-link" href="#">{{user.username}}</a>
            <a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'registration_register' %}">Register Here</a>
            <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
        {% endif %}
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                 <!--
                {% block sidebar_block %}
                    {% get_category_list category %}
                  {% endblock %}    -->
                <ul class="nav nav-list flex-column">
                    <li class="nav-item">Type to find a category</li>
                    <form>
                        <li class="nav-item"><input class="search-query form-control" type="text"
                            name="suggestion" value="" id="suggestion" />
                        </li>
                    </form>

                </ul>
                <div id="cats">
                </div>
            </h3>
          </div>
        </nav>

          <div class="table-responsive">
             <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                    {% block body_block %}
                   {% endblock %}
             </div>
          </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
